.admin-side-panel-container { 
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 100%;
}

.admin-info-container {
  padding-left: 20px;
}

#admin-panel-name {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 0;
}

#admin-panel-username {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

#admin-panel-email {
  font-size: 13px;
  font-weight: 300;
}

.panel-nav-item {
  border-top: 1px solid #d3d3d3;
  height: 5vh;
  display: flex;
  align-items: center;
}

.panel-nav-item:active {
  background: #372c2ea6;
}

.panel-nav-item h4 {
  margin: 0;
  width: max-content;
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
}

.admin-nav-active {
  background: #d3d3d366;
  transition: background-color 300ms linear;
}

.admin-nav-container a,
.panel-admin-logout {
  text-decoration: none;
  color: black;
}

.admin-nav-container a:hover, 
.panel-admin-logout:hover {
  color: #d3d3d3;
  background: #372c2eb9;
  transition: all 300ms linear;
}

.admin-nav-container {
  display: flex;
  flex-direction: column;
}

.panel-admin-logout {
  cursor: pointer;
}

.admin-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  min-height: 200px;
}

#admin-picture {
  min-width: 50px;
  border-radius: 50%;
  border: 1.5px solid #d3d3d3;
}

#divider {
  width: 1px;
  min-width: 1px;
  background: #d3d3d3;
}

@media (max-width: 860px) {
  .admin-side-panel-container {
    display: none;
  }

  #divider {
    display: none;
  }
}
