.user-wishlist-tab-container {
  width: 100%;
  padding: 30px 30px; 
  min-height: 90vh
}

.user-wishlist-item-title {
  font-weight: 400;
}

.user-wishlist-item-price {
  font-weight: 400;
  font-size: 20px
}

.user-wishlist-item-regular {
  font-weight: 400;
  font-size: 15px;
}

.user-wishlist-imgsale-wrapper { 
  display: flex; 
  width: 110px; 
  min-width: 110px;
  justify-content: center; 
  margin-right: 10px
}

.user-wishlist-img-container { 
  width: 110px;
  height: 115px;
  min-width: 110px;
  background: white;
  border: 1px solid #e9e7e6;
}

.user-wishlist-flag-shadow {
  position: relative;
  top: -129px;
  left: 5px;
  width: 0;
  height: 35px;
  border: 18px solid rgba(128, 128, 128, 0.548);
  border-bottom: 10px solid transparent;
}

.user-wishlist-flag {
  position: relative;
  top: -166px;
  left: 3px;
  width: 0;
  height: 35px;
  border: 18px solid rgb(144, 0, 32);
  border-bottom: 10px solid transparent;
}

#user-wishlist-flag-icon { 
  color: white; 
  position: relative;
  left: -10px;
  top: -17px;
  width: 20px;
}

.landing-flag {
  top: -417px;
  left: 195px;
}

.landing-flag-shadow {
  top: -350px;
  left: 198px;
}

#landing-flag-icon {
  color: white; 
  position: relative;
  left: -10px;
  top: -1px;
  width: 20px;
}

.user-wishlist-description {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

#user-wishlist-empty-message {
  font-size: 22px;
  font-weight: 400;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .user-wishlist-item-title {
    font-weight: 400;
    font-size: 12px;
  }

  .user-wishlist-item-price {
    font-weight: 400;
    font-size: 16px
  }
}

@media (max-width: 344px) {
  .user-wishlist-imgsale-wrapper { 
    display: none;
  }
}