.Title {
    display: flex;
    justify-content: center; 
    font-size: 40px;
    margin-bottom: 60px;
}

.Subtitle {
    font-size: 35px;
    width: 80%;
    margin-left: 10%;
}

.Text {
    font-size: 14px;
    margin-left: 80px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

.Font {
    font-family: "Montserrat";
    margin-bottom: 80px;
} 

@media (max-width: 55em){
    .Font {
      
        margin-bottom: 50px;
    } 
}