.filter-accordion-details-cat {
  cursor: pointer;
}
.filter-accordion-details-cat h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.filter-accordion-details-cat:hover {
  color: #D3D3D3;
  background: #372c2eb9;
  transition: all 100ms ease-in-out;
}

.filter-accordion-details-cat-active {
  font-family: 'Montserrat', sans-serif;
  color: #e4e4e4;
  background: #372c2e6c;
  transition: all 100ms ease-in-out;
}

.filter-accordion-details-cat-active h4 {
  font-weight: 300;
}

@media (max-width: 860px) {
  .filter-accordion-details-cat:hover {
    color: inherit;
    background: inherit;
    transition: all 100ms ease-in-out;
  }
}