
.content {
  display:inline-flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
}


.containerproducts {
  position: relative;
  margin: 15px;
  border-radius: 5px;
  background: #fff;
  box-shadow:  1px 1px 2px #757575,
              -1px -1px 2px #aaaaaa;
}



.containerproducts .card {
  width: 270px;
  height: 430px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}




.containerproducts .card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 250px;
  transition: 0.5s;
}

.containerproducts .card:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
}

.containerproducts .card .imgBx img {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
}

.containerproducts .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 95%;
  height: 110px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.containerproducts .card:hover .contentBx {
  height: 210px;
}

.containerproducts .card .contentBx h4 {
  position: relative;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000;
}

.containerproducts .card .contentBx .info-item,
.containerproducts .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
}

.containerproducts .card:hover .contentBx .info-item {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.4s;
}

.containerproducts .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
  flex-grow: 1;
}



.containerproducts .card .contentBx .size h5,
.containerproducts .card .contentBx .color h5 {
  color: #000;
  font-weight: 300;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
}

.containerproducts .card .contentBx button {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  background: #493d30;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.3s;
  margin-top: 0;
  border: none;
  box-shadow:  1px 1px 1px #636363,
  -1px -1px 1px #8f8f8f;
}

.containerproducts .card:hover .contentBx button {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 350ms;
}

.contentBx {
  display: flex;
  flex-direction: column;
}

.info-item {
  display: flex;
  flex-direction: column;
}

.filters{
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}

.results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters-results {
  display: flex;
}

.products-wrapper {
  padding: 30px
}

.page-head { 
  display: flex; 
  align-items: center; 
  margin-bottom: 18px;
}

@media (max-width: 860px) {
  .filters-results {
    flex-direction: column;
  }

  .page-head {
    flex-wrap: wrap;
  }

  .filters {
    width: 100%;
  }

  
.containerproducts .card .imgBx {
  top: 0%;
  transform: translateY(0%);
}
.containerproducts .card .contentBx {
  height: 210px;
}
.containerproducts .card .contentBx .info-item {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.4s;
}

.containerproducts .card .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
  flex-grow: 1;
}
.containerproducts .card .contentBx button {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 350ms;
}
}
