
.content {
  display:inline-flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;
  background-image: linear-gradient(170deg, #000000 0%, #434343 74%);
  flex-direction: row;
  width: 100%;
}


.containerproducts {
  position: relative;
  margin: 15px;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow:  5px 5px 10px #181818,
              -5px -5px 10px #3d3d3d;
  border-radius: 20px;
}



.containerproducts .card {
  width: 300px;
  height: 440px;
  background: #665c4d;
  border-radius: 15px;
}




.containerproducts .card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 250px;
  transition: 0.5s;
}

.containerproducts .card:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
}

.containerproducts .card .imgBx img {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
}

.containerproducts .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.containerproducts .card:hover .contentBx {
  height: 210px;
}

.containerproducts .card .contentBx h4 {
  position: relative;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000;
}

.containerproducts .card .contentBx .size,
.containerproducts .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.containerproducts .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.4s;
}

.containerproducts .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}



.containerproducts .card .contentBx .size h5,
.containerproducts .card .contentBx .color h5 {
  color: #000;
  font-weight: 300;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
}

.containerproducts .card .contentBx button {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  background: #000;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.8s;
  margin-top: 0;
  border: none;
}

.containerproducts .card:hover .contentBx button {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 350ms;
}

.filters{
  display: flex;
  justify-content: space-evenly;
}
