
.products-content {
  display:inline-flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
}

.title1 {
  display: flex;
  text-align: center;
  font-size: 12px;
  margin-top: 100px;
  width: 100%;
  justify-content: center; 
}

.title1 h1{
  width: 60%;
}

.products-containerproducts {
  position: relative;
  margin: 15px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  max-width: 270px;
}


.products-containerproducts .product-card {
  width: 270px;
  height: 430px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  box-shadow: none;
}




.products-containerproducts .product-card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 100%;
  height: 250px;
  transition: 0.5s;
}

.products-containerproducts .product-card:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
}

.products-containerproducts .product-card .imgBx img {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
}


.products-containerproducts .product-card .contentBx {
  position: absolute;
  bottom: 0;
  width: 95%;
  height: 110px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.products-containerproducts .product-card:hover .contentBx {
  height: 210px;
}

.products-containerproducts .product-card .contentBx h4 {
  position: relative;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000;
}

.products-containerproducts .product-card .contentBx .info-item,
.products-containerproducts .product-card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
}

.products-containerproducts .product-card:hover .contentBx .info-item {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.4s;
}

.products-containerproducts .product-card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
  flex-grow: 1;
}



.products-containerproducts .product-card .contentBx .size h5,
.products-containerproducts .product-card .contentBx .color h5 {
  color: #000;
  font-weight: 300;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
}

.products-containerproducts .product-card .contentBx button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  opacity: 0;
  transform: translateY(50px);
  transition: translateY 0.3s;
  margin-top: 0;
  border: none;
}

.products-containerproducts .product-card:hover .contentBx button {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: translateY 350ms;
}

.contentBx {
  display: flex;
  flex-direction: column;
}

.info-item {
  display: flex;
  flex-direction: column;
}

.filters{
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}

.results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-pagination-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.pp-container {
  width: 150px;
} 

.filters-results {
  display: flex;
}

.products-wrapper {
  padding: 30px
}

.page-head { 
  display: flex; 
  align-items: center; 
  margin-bottom: 18px;
}

@media (max-width: 860px) {
  .filters-results {
    flex-direction: column;
  }

  .page-head {
    flex-wrap: wrap;
    align-items: baseline;
  }

  .filters {
    width: 100%;
  }
 
  .products-pagination-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .products-containerproducts .product-card .imgBx {
    top: 0%;
    transform: translateY(0%);
  }
  .products-containerproducts .product-card .contentBx {
    height: 210px;
  }
  .products-containerproducts .product-card .contentBx .info-item {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;
  }

  .products-containerproducts .product-card .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
    flex-grow: 1;
  }
  .products-containerproducts .product-card .contentBx button {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: translateY 350ms;
  }
}

.price{
  text-decoration: line-through;
}

.hs {
  color: #900020;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: center;
}

.price-addcart-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.price-addcart-wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price-addcart-wrapper div h3,
.price-addcart-wrapper div h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 0;
}